body{
    margin: 0;
    padding: 20px;
    background-color: #DDE8B9;
    font-family: 'Times New Roman', Times, serif;
    
   
}
header{
    text-align: center;
}

.container{
    grid-template-columns: 1fr 1fr;
    display: flex;
    gap: 20px;
     
    
}
destinations{
    justify-content: center; 
    margin-top: 30px;
    max-width: 45%;
}
.Add-Destination{
    flex: 1;
    max-width: 25%;
    padding: 2rem 4rem;
    border:  none;
    box-shadow:0 4px 8px rgba(8, 10, 10, 0.1) ;
    border-radius: 8px;
    background-color: #7ac4cf;
    margin:1rem;
}
footer{
    text-align: center;
}
.btn-add{
    background-color: #F9B9F2;
    margin-top: 1rem;
    padding:15px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    color:rgb(7, 7, 7);
    font-size: 1rem;

}
.travel-log{
    background-color: #2B3D41;  
    padding:10px;
    border:none;
    border-radius: 7px;
    color:aliceblue;
    gap:15px;
    text-align: center;
    
}
#destination-details{
    background-color: #BCA0BC;
    padding:20px;
    border:none;
    border-radius: 7px;
    margin:2rem auto;
     ;
    gap:15px;
    font-size: 1.2rem;

}
.placeCard {

    background-color:#F9B9F2;
    border-radius: 4px ;
    padding: 15px 7rem;
    color: black;
    display: flex;
    margin-top: 1rem;
    
}
#del-btn{
    background-color: #2B3D41;
    margin-top: 1rem;
    padding:15px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    color:white;
    font-size: 1rem;

}
#notes-style{
    background-color:white; 
    border-radius:4px;

}
form{
   
    padding:0.2rem;
    
}